@model IEnumerable<_2280613193_webdocongnghe.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Danh mục sản phẩm</h2>
<a asp-action="Add">+ Thêm danh mục</a>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Tên danh mục</th>
        <th>Hành động</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xoá</a>
            </td>
        </tr>
    }
</table>